body{
    background-color: #1e1e1e;
    color: white;
}
.response-main-div{
    height: 400px;
    background-color: #252526;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid 1px #535355;
    padding: 10px;
    overflow-y: scroll;
    overflow: hidden;

}
.response-sms{
    border:solid 1px #353535;
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
}
.color{
    color: #07638d;
}
.btn-perso{
    background-color: #07638d;
    color: white;
}
.btn-perso:hover{
    border:solid 1px #07638d;
}
#response{
    padding-left: 10px !important;
    color: white !important;
    font-size: 13px;
}

.lang{
    border-radius: 10px !important;
}